<h1>Register</h1>
<%- include ('./partials/messages') %>
<script>

  window.addEventListener( "load", function () {
  function sendData() {
  const XHR = new XMLHttpRequest();
  const FD = new FormData( form );
  const formJSON = Object.fromEntries(FD.entries());

  XHR.addEventListener( "load", function(event) {
    if(event.target.status != 200){
      try {
        let text = JSON.parse(event.target.response).errors[0].msg; 
        alert(text);
      } catch (error) {
        console.log(error);
        alert( "Alguma coisa aconteceu errado." );
      }        
    }
    else{
      alert("Cadastro Feito");
    }
  });
  XHR.addEventListener( "error", function( event ) {
  alert( 'Alguma coisa aconteceu errado.' );
  } );
  XHR.open( "POST", "/users/register" );
  XHR.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  XHR.send( JSON.stringify(formJSON) );
}
const form = document.getElementById( "myForm" );

form.addEventListener( "submit", function ( event ) {
event.preventDefault();
sendData();
} );
} );
  </script>
<form id="myForm">
<div>
    <label for="name">Username</label>
    <input
      type="name"
      name="username"
      placeholder="Enter Username"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>
<div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>